@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$purple: hsl(0, 97%, 31%);
$title-color: hsl(0, 0%, 40%);
$text-color: hsl(0, 0%, 50%);
$body-color: hsl(0, 0%, 100%);
$container-color: hsl(0, 0%, 93%);
$text-white: white;
$border-color: hsl(0, 0%, 87%);

$body-font: 'Open Sans', sans-serif;
$second-font: 'Poppins', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
input,
textarea {
	font-family: $body-font;
	font-weight: 500;
}

body {
	background-color: $body-color;
	color: $text-color;
}

h1,
h2,
h3,
h4 {
	color: $title-color;
	font-family: $second-font;
	font-weight: 700;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

button,
input,
textarea {
	background-color: transparent;
	border: none;
	outline: none;
}

img {
	max-width: 100%;
}

.grid {
	display: grid;
	gap: 30px;
}
.section {
	padding-block: 70px;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
}
